html {
  background-color: #f0f0f0; /* Màu nền cho phần ngoài của body */
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  width: 794px;
  /* height: 1122px; */
  margin: 10px auto;
  /* border: 1px solid rgba(0, 0, 0, 0.35); */
  padding: 30px 40px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Shadow */
}
.top-area {
  display: flex;
  justify-content: space-between;
}
.top-area .left {
  display: flex;
  gap: 10px;
}

.top-area .right {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 5px;
}
#avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  object-fit: cover;
}
#name {
  font-weight: 800;
}
.education {
  margin-top: 15px;
  border-bottom: 2.5px solid black;
  font-size: 1.1em;
}
.education::first-letter {
  font-size: 1.4em;
}
.constructor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.dot {
  text-decoration: none;
  margin: 0;
  padding: 10px 20px 5px 20px;
}
.child {
  padding-left: 20px;
  padding-top: 0;
}
.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul.circle {
  list-style-type: circle;
  margin-top: 8px;
  margin-bottom: 0;
}
ul.circle li {
  text-align: justify;
}
.left {
  text-align: left !important;
}
.graduation {
  display: inline-block;
  margin-top: 10px;
  width: 323px;
  height: 400px;
}
.borders {
  border: 0.5px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3); /* Shadow */
}
.certificate {
  display: flex;
}
.guidance {
  width: 323px;
  height: 200px;
  margin-top: 10px;
}
.leadership {
  width: 160px;
  height: 200px;
  margin-top: 10px;
}
.cup {
  width: 100px;
  height: 200px;
  margin-top: 10px;
  /* margin-left: 3px; */
  vertical-align: middle;
}
.award {
  display: flex;
  justify-content: space-between;
}
